<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Empresa dedida a realizar viajes por America del Sur"> 
    <meta name="keywords" content="turismo, quince años, egresados, luna de miel">

    <link rel="stylesheet" type="text/css" href="../static/styles/index.css">
    <link rel="stylesheet" href="../static/styles/head_foot.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/experien.css">
    <title>Experiencias - Viajes</title>

    <link rel="shortcut icon" href="../static/img/travel-1883060_1280.ico" type="image/x-icon">
</head>

<body>
  <a id="ancla-1"></a>
    
  <header>
    <div>
      <img class="img-logo" src="../static/img/travel-1883060_1280.png" alt="">
    </div>

      <nav>
          <a class="link a:hover" href="../index.html"> Inicio </a>
          <a class="link a:hover" href="../templates/galeria.html"> Galeria </a>
          <a class="link link:hover" href="../templates/sucursales.html"> Sucursales </a>
          <a class="link a:hover" href="../templates/formulario.html">Formulario</a>
          <a class="link link:hover" href="../templates/links.html"> Links útiles </a>
      </nav>
  </header>

    <main>
        <Section>
            <h1 class="subtitulo diagonal-gradient" >Experiencias inolvidables</h1>
              <div class="container-exp">
              <div id="animacion">  </div>  

              <div><br>
                <p class="p-texto-exp">
                  Sabemos que cada experiencia de vida deja su huella... <br>
                  Por eso tenemos un equipo multidisciplinario a tu servicio, queremos concretar tus expectativas y un poco más, queremos dejar nustra huella en tu vida, ser parte de tus más valiosos recuerdos. Queremos ser parte del viaje y de tus recuerdos. Que te conmuevas, que te asombres que crezcas. Por eso Experiencias inolvidables marca la diferencia, son paquetes de viajes creados a tu medida, relacionados con tus sueños, con tus creencias y tambien con tu sed aprender.
                  Buscamos que te lleves con vos eso que la cámara no puede captar, olores y sabores, silencios y colores, músicas e historias que hacen único a cada lugar 
                </p><br><br>
              </div>
           </div>
        </Section>

        <section>
          <div id="container-grid">
               <div class="c-div">
                  <img class="img-exp" src="../static/img/exp6-tango-190026_1280.jpg" alt="">
                  <div >
                      <h5 class="c-title">Tango</h5>
                      <p class="c-body">Tode el ritmo y  la magia del tango en una semana inolvidable. </p>
                      <p class="c-body">todo el año </p>
                      <p class="c-body">$1.000,00</p>
                  </div>
                  
                  <div class="div-btn">
                      <a href="#" class="d-btn d-btn:hover">Detalles</a>
                      <a href="./formulario.html" class="d-btn d-btn:hover">Consultas</a>
                  </div>
               </div>

              <div class="c-div">
                <img class="img-exp" src="../static/img/exp1-day-of-the-dead-1868836_1280.jpg" alt="">
                <div >
                    <h5 class="c-title">Día de los muertos </h5>
                    <p class="c-body">México abre sus puertas y su corazón, vivencias únicas y ancestrales </p>
                    <p class="c-body">Primera semana de noviembre 2024 </p>
                    <p class="c-body">$1.000,00</p>
                </div>

                <div class="div-btn">
                    <a href="#" class="d-btn d-btn:hover">Detalles</a>
                    <a href="./formulario.html" class="d-btn d-btn:hover">Consultas</a>
                </div>
            </div>

            <div class="c-div">
              <img class="img-exp" src="../static/img/exp3-tacos-pastor-4505032_1280.jpg" alt="">
              <div >
                  <h5 class="c-title"> Sabores astecas </h5>
                  <p class="c-body"> Todos los sabores de México, en una experiencia sin igual donde degustarás y aprenderás todo sobre su preparación </p>
                  <p class="c-body"> mayo a octubre 2024s </p>
                  <p class="c-body">$1.000,00</p>
              </div>

              <div class="div-btn">
                  <a href="#" class="d-btn d-btn:hover">Detalles</a>
                  <a href="./formulario.html" class="d-btn d-btn:hover">Consultas</a>
              </div>
            </div>

            <div class="c-div">
              <img class="img-exp" src="../static/img/exp4-whale-1181395_1280.jpg" alt="">
              <div >
                  <h5 class="c-title"> Avistaje de fauna </h5>
                  <p class="c-body"> El encanto y la majestuosidad de los más grandes te dejarán sin palabras </p>
                  <p class="c-body"> Junio a diciembre 2024 </p>
                  <p class="c-body">$1.000,00</p>
              </div>

              <div class="div-btn">
                  <a href="#" class="d-btn d-btn:hover">Detalles</a>
                  <a href="./formulario.html" class="d-btn d-btn:hover">Consultas</a>
              </div>
            </div>

            <div class="c-div">
              <img class="img-exp" src="../static/img/dest-temple-5142557_1280.jpg " alt="">
              <div >
                  <h5 class="c-title"> Templos </h5>
                  <p class="c-body">  Recorrido por los más emblemáticos templos ancestrales y por la selva del Sudeste asiático. </p>
                  <p class="c-body"> enero a mayo </p>
                  <p class="c-body">$1.000,00</p>
              </div>

              <div class="div-btn">
                  <a href="#" class="d-btn d-btn:hover">Detalles</a>
                  <a href="./formulario.html" class="d-btn d-btn:hover">Consultas</a>
              </div>
            </div>

            <div class="c-div">
              <img class="img-exp" src="../static/img/exp2-mountaineers-5649828_1280.jpg" alt="">
              <div >
                  <h5 class="c-title"> Caminatas </h5>
                  <p class="c-body"> Trekking por los Andes, animate a ser parte de lo más grandioso de América del Sur </p>
                  <p class="c-body"> diciembre a marzo </p>
                  <p class="c-body">$1.000,00</p>
              </div>

              <div class="div-btn">
                  <a href="#" class="d-btn d-btn:hover">Detalles</a>
                  <a href="./formulario.html" class="d-btn d-btn:hover">Consultas</a>
              </div>
            </div>

            <div class="c-div">
              <img class="img-exp" src="../static/img/12exp-zebra-1170177_1280.jpg " alt="">
              <div >
                  <h5 class="c-title"> Fotografía </h5>
                  <p class="c-body"> Safaris fotográficos, lo mejor de la fauna africana y la extraordinaria experiencia de ser parte de ello acampando durante una semana </p>
                  <p class="c-body"> abril a junio </p>
                  <p class="c-body">$1.000,00</p>
              </div>

              <div class="div-btn">
                  <a href="#" class="d-btn d-btn:hover">Detalles</a>
                  <a href="./formulario.html" class="d-btn d-btn:hover">Consultas</a>
              </div>
            </div>

            <div class="c-div">
              <img class="img-exp" src="../static/img/exp3-cruise-1236642_1280.jpg" alt="">
              <div >
                  <h5 class="c-title"> Cruceros </h5>
                  <p class="c-body"> La mejor experiencia en cruceros por el mar Caribe </p>
                  <p class="c-body"> Septiembre a diciembre </p>
                  <p class="c-body">$1.000,00</p>
              </div>

              <div class="div-btn">
                  <a href="#" class="d-btn d-btn:hover">Detalles</a>
                  <a href="./formulario.html" class="d-btn d-btn:hover">Consultas</a>
              </div>
            </div>

          </div>
        </section>
       
          <div class="background-image"></div>
          <div class="content"></div>
        
          <footer class="en-linea">
              <div>
                <a href=""><img class="icon" src="../static/img/facebook.png" alt="facebook"></a>
                <a href=""><img class="icon" src="../static/img/instagram.png" alt="instagram"></a>
                <a href=""><img class="icon" src="../static/img/twitter.png" alt="tweeter"></a>
                <a href="https://wa.me/+542231234567"><img class="icon" src="../static/img/whatsappT.png" alt="whatsapp"></a>
            </div>

              <div>
                <p class="textfoot">Codo a Codo - Ciclo 2024 - <a class="arriba" href="#ancla-1">Volver al comienzo</a></p>
              </div>

        </footer>
        <script src="../static/scripts/fondo.js"></script>

    </main>
</body>


</html>