<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Empresa dedida a realizar viajes por America del Sur"> 
        <meta name="keywords" content="turismo, quince años, egresados, luna de miel">
        <link rel="stylesheet" href="../static/styles/index.css">
        <link rel="stylesheet" href="../static/styles/galeria.css">
        <link rel="stylesheet" href="../static/styles/head_foot.css">
        <title>Galeria - Viajes</title>
    
        <link rel="shortcut icon" href="./static/img/travel-1883060_1280.ico" type="image/x-icon">
    </head>

<body>
    <a id="ancla-1"></a>

    <header>
        <div>
          <img class="img-logo" src="../static/img/travel-1883060_1280.png" alt="">
        </div>

          <nav>
              <a class="link link:hover" href="../index.html"> Inicio </a>
              <a class="link link:hover" href="../templates/sucursales.html"> Sucursales </a>
              <a class="link link:hover" href="../templates/experien.html"> Experiencias </a>
              <a class="link link:hover" href="../templates/formulario.html">Formulario</a>
              <a class="link link:hover" href="../templates/links.html"> Links útiles </a>
          </nav>
    </header>
    
    <main>
        <h1 class="subtitulo" id="ancla-1">Galería Destinos Argentina</h1>
        <section>
            <div class="c-container">
                <div class="c-div">
                    <img class="c-img" src="../static/img/dest7-iudad_mdp.jpg" alt="">
                    <div >
                        <h5 class="c-title">Mar del Plata </h5>
                        <p class="c-body"> Vuelo con Aerolineas Argentinas <br>
                                           Traslados de Llegada y Salida <br>
                                           Salidas desde Cordoba<br>
                                           3 Noches de estadia <br>
                                           Desayuno Incluido<br></p>
                        <p class="c-body">Fechas de Viajes en Julio </p>
                    </div>
                    <div class="div-btn">
                        <a href="#" class="d-btn d-btn:hover">Detalles</a>
                        <a href="./formulario.html" class="d-btn d-btn:hover">Consultar</a>
                    </div>
                </div>

                <div class="c-div">
                    <img class="c-img" src="../static/img/villaGralBelgrano-02.jpg" alt="">
                    <div >
                        <h5 class="c-title">Villa General Belgrano </h5>
                        <p class="c-body">Vuelos con Aerolineas Argentinas <br>
                                          Traslados de LLegada y Salida <br>
                                          Salidas desde Buenos Aires <br>
                                          2 Noches de Estadia <br>
                                          Media Pension <br></p>
                        <p class="c-body">Fechas de Viajes en Octubre</p>
                    </div>
                    <div class="div-btn">
                        <a href="#" class="d-btn d-btn:hover">Detalles</a>
                        <a href="./formulario.html" class="d-btn d-btn:hover">Consultar</a>
                    </div>
                </div>
                
                <div class="c-div">
                    <img class="c-img" src="../static/img/cordoba1-770x515.png" alt="">
                    <div >
                        <h5 class="c-title">Ciudad de Cordoba </h5>
                        <p class="c-body">Vuelos con Flybondi <br>
                                          Traslados de Llegada y Salida <br>
                                          Salida desde Buenos Aires <br>
                                          2 Noches de Estadia <br>
                                          Desayuno Buffet <br></p>
                        <p class="c-body">Fechas Disponibles para Julio</p>
                    </div>
                    <div class="div-btn">
                        <a href="#" class="d-btn d-btn:hover">Detalles</a>
                        <a href="./formulario.html" class="d-btn d-btn:hover">Consultar</a>
                    </div>
                </div>
    
                <div class="c-div">
                    <img class="c-img" src="../static/img/bs-as-caminito-51625_1280.jpg" alt="">
                    <div >
                        <h5 class="c-title">Ciudad de Buenos Aires</h5>
                        <p class="c-body">Vuelos con JetSmart <br>
                                        Traslado de Llegada y Salida <br>
                                        Salidas desde Cordoba <br>
                                        3 Noches de Estadia <br>
                                        Desayuno Buffet <br> </p>
                        <p class="c-body">Fechas de viajes para Julio </p>
                    </div>
                    <div class="div-btn">
                        <a href="#" class="d-btn d-btn:hover">Detalles</a>
                        <a href="./formulario.html" class="d-btn d-btn:hover">Consultar</a>
                    </div>   
                </div>
            
                <div class="c-div">
                    <img class="c-img" src="../static/img/carlosPazCba.jpg" alt="">
                    <div >
                        <h5 class="c-title">Villa Carlos Paz</h5>
                        <p class="c-body">Vuelos con JetSmart <br>
                                        Traslado de Llegada y Salida <br>
                                        Salidas desde Buenos Aires <br>
                                        2 Noches de Estadia <br>
                                        Desayuno <br> </p>
                        <p class="c-body">Fechas de viajes para Agosto </p>
                    </div>
                    <div class="div-btn">
                        <a href="#" class="d-btn d-btn:hover">Detalles</a>
                        <a href="./formulario.html" class="d-btn d-btn:hover">Consultar</a>
                    </div>
                </div>    


                <div class="c-div">
                    <img class="c-img" src="../static/img/hipodromo-darwin-san-isidro-1.jpg" alt="">
                    <div >
                        <h5 class="c-title">San Isidro</h5>
                        <p class="c-body">Vuelos con Flybondi <br>
                                        Traslado de Llegada y Salida <br>
                                        Salidas desde Cordoba <br>
                                        2 Noches de Estadia <br>
                                        Desayuno <br> </p>
                        <p class="c-body">Fechas de viajes para Julio </p>
                    </div>
                    <div class="div-btn">
                        <a href="#" class="d-btn d-btn:hover">Detalles</a>
                        <a href="./formulario.html" class="d-btn d-btn:hover">Consultar</a>
                    </div>
                </div>    

                <div class="c-div">
                    <img class="c-img" src="../static/img/tigre_980_.jpg" alt="">
                    <div >
                        <h5 class="c-title">Ciudad de Tigre</h5>
                        <p class="c-body">Vuelos con JetSamart <br>
                                        Traslado de Llegada y Salida <br>
                                        Salidas desde Cordoba <br>
                                        1 Noches de Estadia <br>
                                        Desayuno <br> </p>
                        <p class="c-body">Fechas de viajes para Julio </p>
                    </div>
                    <div class="div-btn">
                        <a href="#" class="d-btn d-btn:hover">Detalles</a>
                        <a href="./formulario.html" class="d-btn d-btn:hover">Consultar</a>
                    </div>
                </div>    

                <div class="c-div">
                    <img class="c-img" src="../static/img/ansenuza.jpg" alt="">
                    <div >
                        <h5 class="c-title">Mar de Ansenuza - Cba</h5>
                        <p class="c-body">Vuelos con JetSmart <br>
                                        Traslado de Llegada y Salida <br>
                                        Salidas desde Buenos Aires <br>
                                        2 Noches de Estadia <br>
                                        Media Pension <br> </p>
                        <p class="c-body">Fechas de viajes para Julio y Agosto </p>
                    </div>
                    <div class="div-btn">
                        <a href="#" class="d-btn d-btn:hover">Detalles</a>
                        <a href="./formulario.html" class="d-btn d-btn:hover">Consultar</a>
                    </div>
                </div>    

            </div>    

        </section>           
        
        <div class="background-image"></div>
        <div class="content"></div>
  
        <footer class="en-linea">
            <div>
                <a href=""><img class="icon" src="../static/img/facebook.png" alt="facebook"></a>
                <a href=""><img class="icon" src="../static/img/instagram.png" alt="instagram"></a>
                <a href=""><img class="icon" src="../static/img/twitter.png" alt="tweeter"></a>
                <a href="https://wa.me/+542231234567"><img class="icon" src="../static/img/whatsappT.png" alt="whatsapp"></a>
            </div>

            <div>
                <p class="textfoot">Codo a Codo - Ciclo 2024 - <a class="arriba" href="#ancla-1">Volver al comienzo</a></p>
            </div>

        </footer>

        <script src="../static/scripts/fondo.js"></script>

    </main>
</body>
</html>