<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Empresa dedida a realizar viajes por America del Sur"> 
        <meta name="keywords" content="turismo, quince años, egresados, luna de miel">
        <link rel="stylesheet" type="text/css" href="../static/styles/index.css">
        <link rel="stylesheet" href="../static/styles/head_foot.css">
        <link rel="stylesheet" type="text/css" href="../static/styles/sucursales.css">
        <title>Sucursales - Viajes</title>
    
        <link rel="shortcut icon" href="./static/img/travel-1883060_1280.ico" type="image/x-icon">
    </head>

<body>
    <a id="ancla-1"></a>

    <header>
        <div>
          <img class="img-logo" src="../static/img/travel-1883060_1280.png" alt="">
        </div>

          <nav>
              <a class="link link:hover" href="../index.html"> Inicio </a>
              <a class="link link:hover" href="../templates/galeria.html"> Galeria </a>
              <a class="link link:hover" href="../templates/experien.html"> Experiencias </a>
              <a class="link link:hover" href="../templates/formulario.html">Formulario</a>
              <a class="link link:hover" href="../templates/links.html"> Links útiles </a>
          </nav>
    </header>

    <main>
        <h1 class="subtitulo"> Nuestras Sucursales</h1>
            <section class="c-container-map">
            
                <div><h3>Ciudad de Córdoba</h3>
                    <p class="p-texto-map"> Direccion: Independencia 175</p>
                    <p class="p-texto-map"> Tel: (351) 92490009</p>
                    <iframe class="c-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3404.8610421784847!2d-64.18728592511786!3d-31.417954396325865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a284a038ef45%3A0x8a50ce9a61d6c855!2sIndependencia%20175%2C%20X5000IUC%20San%20Pedro%2C%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1715736608549!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                <div>
                    <h3>Ciudad de Mar del Plata</h3>
                    <p class="p-texto-map"> Direccion: Gral Roca 1225</p>
                    <p class="p-texto-map"> Tel: (223) 49174009</p>
                    <iframe class="c-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3143.196697409832!2d-57.54607572474212!3d-38.01919364580563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584dc2fb947de3b%3A0x2bac647c05cd323e!2sGral.%20Roca%201225%2C%20B7602GTY%20Mar%20del%20Plata%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1715738205615!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </section>
            
            <br> <br>
            <h1 class="subtitulo">Te invitamos a visitar estos destinos</h1>
            
            <section class="c-container-map">
                <div><h3>Cordoba Mágica</h3>
                    <iframe class="c-map" width="560" height="315" src="https://www.youtube.com/embed/O8UDIhJtG3Q?si=PBnBguZRumH0zjkj" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>

                <!-- <div class="map-responsive"></div>
                <iframe src=" https://www.youtube.com/embed/O8UDIhJtG3Q?si=PBnBguZRumH0zjkj" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->

                <div><h3>Mar del Plata 2024</h3>
                    <iframe class="c-map" width="560" height="315" src="https://www.youtube.com/embed/zyAku-BbLmU?si=Mtzx-_EbNBI87NSK" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </section>
       
        <div class="background-image"></div>
        <div class="content"></div>

        <footer class="en-linea">
            <div>
                <a href="https://www.facebook.com/?locale=es_LA" target="_blank"><img class="icon" src="../static/img/facebook.png" alt="facebook"></a>
                <a href="https://www.instagram.com/" target="_blank"><img class="icon" src="../static/img/instagram.png" alt="instagram"></a>
                <a href="https://x.com/?lang=es" target="_blank"><img class="icon" src="../static/img/twitter.png" alt="twitter"></a>
                <a href="https://wa.me/+542231234567" target="_blank"><img class="icon" src="../static/img/whatsappT.png" alt="whatsapp"></a>
            </div>

            <div>
            <p class="textfoot">Codo a Codo - Ciclo 2024 - <a class="arriba" href="#ancla-1">Volver al comienzo</a></p>
            </div>

        </footer>

        <script src="../static/scripts/fondo.js"></script>

    </main> 

</body>
</html>